@charset "utf-8";

/* =Reset */
*{margin:0;padding:0}
li{list-style:none}
:root,body{height:100%}
:root{font-size:10px}
body{/*min-width:1200px;*/font-size:1.4rem;color:#333}
main{height:100%}
textarea{border:0;background-color:transparent;resize:none}

/* =Button */
.btn{border:0;background-color:transparent;vertical-align:top;cursor:pointer}
.btn .material-icons{font-size:22px;vertical-align:top}
.btn_run{color:#fff}
.btn_run>span{margin-left:.6rem}

/* =LyPop Editor Settings */
.ly_pop_editor_settings{position:absolute;top:3.6em;right:8rem;z-index:1000;width:300px;max-height:calc(100vh - 100px);border-radius:4px;background-color:#fff;box-shadow:0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);opacity:1;transform:translateY(0);transition:opacity .12s,transform .12s;will-change:opacity,transform}
.ly_pop_editor_settings.hidden{opacity:0;transform:translateY(10px);pointer-events:none}
.ly_pop_editor_settings:before,
.ly_pop_editor_settings:after{content:'';position:absolute;right:20px;border-left:8px solid transparent;border-right:8px solid transparent;border-style:none double solid;border-bottom:10px solid}
.ly_pop_editor_settings:before{top:-11px;border-bottom-color:rgba(57,70,78,.15)}
.ly_pop_editor_settings:after{top:-10px;border-bottom-color:#ccc}
.ly_pop_editor_settings .ly_pop_header{padding:1rem 1.4rem;border-radius:4px 4px 0 0;background-color:#ccc}
.ly_pop_editor_settings .ly_pop_header>h1{font-size:1.4rem}
.ly_pop_editor_settings .ly_pop_content{padding:1.4rem}
.ly_pop_editor_settings section{margin-top:-1px;padding:1rem 0;border:1px solid #e9e9ea;border-width:1px 0}
.ly_pop_editor_settings section:first-of-type{margin-top:0;padding-top:0;border-top:0}
.ly_pop_editor_settings section:last-of-type{border-bottom:0}
.ly_pop_editor_settings h2{font-family:Verdana;font-size:1.1rem;letter-spacing:-.05rem}
.ly_pop_editor_settings .field_cont{margin-top:1rem}
.ly_pop_editor_settings .field_cont li{margin-top:.6rem}
.ly_pop_editor_settings .field_cont li:first-child{margin-top:0}
.ly_pop_editor_settings .select_pairs{display:grid;grid-template-columns:calc(33% - 15px) calc(33% - 15px) 33%;grid-gap:15px}
.ly_pop_editor_settings .select_pair{margin-top:.8rem}
.ly_pop_editor_settings .select_pair>label{display:block;font-size:1.1rem}
.ly_pop_editor_settings .select_pair>select{-webkit-appearance:none;width:100%;margin-top:.4rem;padding:.6rem;border:0;border-radius:3px;font-size:1.2rem;color:#39464e;box-shadow:0 0 0 1px #e9e9ea}

/* =LyPop Editor Help */
.ly_pop_editor_help{position:absolute;top:3.4em;right:0;z-index:1000;width:220px;background-color:#0a001f;opacity:1;transition:opacity .12s;will-change:opacity}
.ly_pop_editor_help.hidden{opacity:0;pointer-events:none}
.ly_pop_editor_help .ly_pop_header{padding:1rem 1.4rem}
.ly_pop_editor_help .ly_pop_header>h1{font-size:1.4rem;color:#fff}
.ly_pop_editor_help .ly_pop_content{padding:1.4rem}
.ly_pop_editor_help section{margin-top:-1px;padding:1rem 0;border:1px solid #e9e9ea;border-width:1px 0;color:#fff}
.ly_pop_editor_help section:first-of-type{margin-top:0;padding-top:0;border-top:0}
.ly_pop_editor_help section:last-of-type{border-bottom:0}
.ly_pop_editor_help h2{font-family:Verdana;font-size:1.1rem;letter-spacing:-.05rem}
.ly_pop_editor_help .ly_pop_content ul{margin-top:1rem}
.ly_pop_editor_help .ly_pop_content li{font-size:1.1rem}
.ly_pop_editor_help .ly_pop_content a{color:#fff}

/* =Layout */
#wrap{display:flex;flex-direction:column;height:100%}
#container{flex:1}
#content{height:100%}

/* =Header */
header{display:flex;align-items:stretch;position:relative;height:3.4em;border-bottom:1px solid #0a001f;background-color:#1c2128;box-shadow:0 0 .5rem rgba(28,33,40,0);}
header>h1{display:flex;align-items:center;justify-content:center;height:100%;padding:0 1.6rem}
header>h1>a{color:#ffd900;text-decoration:none;text-shadow:1px 1px 0 #0a001f}

/* =Actions */
.actions{display:flex;margin-left:-1rem}
.actions>button[type=button]{display:inline-flex;align-items:center;justify-content:center;height:100%;margin-left:1rem;padding-right:.8rem;border-bottom:1px solid transparent;font-size:1.2rem}
.actions>button[type=button]:hover{border-bottom-color:#0084ff}
.actions>button[type=button]:focus{outline:0}
.actions>.combobox{display:inline-flex;position:relative;align-items:center;justify-content:center;height:100%;margin-left:1rem;color:#fff}
.actions>.combobox .material-icons{font-size:22px}
.actions>.combobox label{margin-left:.6rem;font-size:1.2rem}
.actions>.combobox select{margin-left:1rem;padding:.4rem;border-radius:4px;border:1px solid #fff;background-color:transparent;color:#fff}
.actions>.combobox select:focus{outline:0}
.actions>.combobox option{color:#000}

/* =Controls */
.controls{overflow:hidden;position:absolute;top:50%;left:50%;border-radius:4px;border:1px solid #fff;transform:translate(-50%, -50%);}
.controls>button[type=button]{float:left;margin-left:-1px;padding:.8rem 1rem;border-left:1px solid #fff;font-size:1.2rem;color:#fff}
.controls>button[type=button]:first-child{margin-left:0}
.controls>button[type=button]:hover{background-color:#0a001f}
.controls>button[type=button].active{background-color:#064c8e}
.controls>button[type=button].active:hover{background-color:#00305a}

/* =Utils */
.utils{position:absolute;top:0;right:0;bottom:0}
.utils>a{display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:100%;padding:0 .8rem;font-size:1.2rem;color:#fff;text-decoration:none;vertical-align:top}
.utils>a.active,
.utils>a:hover{background-color:#0a001f}
.utils>a .material-icons{font-size:16px}
.utils>a>span{margin-left:.4rem}

/* =Chk Switch */
.chk_switch{position:relative;width:100%;cursor:pointer}
.chk_switch input[type=checkbox]{position:absolute;z-index:-1;opacity:0}
.chk_switch .checkbox{display:inline-block;position:relative;top:2px;width:31px;height:14px;margin-right:.4rem;border-radius:14px;background-color:rgba(0,0,0,.1);vertical-align:top;transition:all .15s}
.chk_switch .checkbox:after{content:'';position:absolute;top:1px;left:1px;width:12px;height:12px;border-radius:100%;background-color:#fff;box-shadow:0 2px 4px 0 rgba(0,0,0,.2), 0 0 1px 0 rgba(0,0,0,.21);transition:left .15s;}
.chk_switch input[type=checkbox]:checked+.checkbox{background-color:#0084ff}
.chk_switch input[type=checkbox]:checked+.checkbox:after{left:18px}
.chk_switch em{display:inline-block;font-style:normal;font-size:1.2rem;vertical-align:top}

/* =Split */
.splitter{display:flex;flex-direction:row;height:100%}
.splitter .gutter{background-color:#2d333b;/*background-repeat:no-repeat;background-position:50%*/cursor:col-resize}
/*.splitter .gutter.gutter-horizontal{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');cursor:col-resize}*/
/*.splitter .gutter.gutter-vertical{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');cursor:row-resize}*/
.splitter .panel{display:flex;overflow:hidden;flex-direction:column}
.splitter .panel>h1,
.splitter .panel>strong{padding:1rem 1rem 1.2rem;font-family:Verdana;font-weight:normal;font-size:1.2rem}
.splitter .panel>h1{background-color:#20262e;color:#fff}
.splitter .panel>strong{display:block;background-color:#f7f7f7}
.splitter .editbox,
.splitter .previewbox{flex:1;height:200px}
.splitter .editbox.default{font-size:1.4rem}
.splitter .editbox.small{font-size:1.2rem}
.splitter .editbox.big{font-size:1.6rem}
.splitter .editbox.bigger{font-size:1.8rem}
.splitter .editbox.jabba{font-size:2rem}
.splitter .previewbox{display:flex;flex-direction:column}
.splitter .previewbox>iframe{flex:1}

/* =CodeMirror */
.CodeMirror{height:100%;background-color:#20262e!important}
.CodeMirror .CodeMirror-gutters{background-color:#20262e}
.CodeMirror .CodeMirror-linenumber{color:#4c5157}

.CodeMirror .CodeMirror-activeline{}
.CodeMirror .CodeMirror-activeline-background{background-color:transparent}
.CodeMirror.CodeMirror-focused .CodeMirror-activeline-gutter .CodeMirror-linenumber{color:#8e9195}
.CodeMirror.CodeMirror-focused .CodeMirror-activeline-background{background-color:#373831}

/*.CodeMirror-matchingtag{border-bottom:1px solid #f7ed7e;background-color:transparent}*/

.CodeMirror-hints{border-color:#2d333b;background-color:#1c2128}
.CodeMirror-hint{padding:.4rem;color:#fff}